extends layout.pug

block title
  title Create a job

block navigation
  .container.container-fluid
    nav.navbar.navbar-default
      .container-fluid
        ul.nav.navbar-nav
          li
            a(href='/purchaser/dash') Dashboard
          li
            a(href='/purchaser/createJob') Create job

block content
  .container.container-fluid
    .panel.panel-primary
      .panel-heading Job list
      table.table
        thead
          tr
            th #
            th Title
            th Description
            th Offer time
            th Deliver time
        tbody
          for item, index in list
            tr(onclick="document.location = '/purchaser/jobDetail/" + item._id + "';")
              th(scope='row') #{index +1}
              td #{item.title}
              td #{item.description}
              td #{item.offerTime}
              td #{item.deliverTime}